body {
    margin: 0;
    padding: 0;
    background-color: #2E294E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: white;
}

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recuadro-login {
    width: 50%;
    height: 60%;
    background-color: #F46036;
    border-radius: 20px;
    display: flex;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 0 5%;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.container-inputs {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    color: white;
    margin-bottom: 5px;
    width: 70%;
}

input {
    width: 100%;
    border-radius: 20px;
    height: 40px;
    border: none;
    padding: 0 25px;
}

button {

    margin-top: 20px;
    background-color: #1B998B;
    border: none;
    height: 45px;
    width: 70%;
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: white;
}

.container-img {
    width: 40%;
    background-image: url(./imagenes/pensador.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    opacity: 90%;
}